<footer>
    <div class="logo-container">
        <h2 class="logo">sunnyside</h2>
    </div>
    <partial name="NavMenuPartial">
    <div class="socialmedia-group">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-pinterest"></i>
    </div>
</footer>