<nav>
    <ul>
        <li><a asp-page="About">Sobre</a></li>
        <li><a asp-page="Services">Serviços</a></li>
        <li><a asp-page="Projects">Projetos</a></li>
        <li><a asp-page="Contact">Contato</a></li>
    </ul>
</nav>