<section>
        <div class="multiple-card">
            <div class="card-description">
                <h3>Transforme sua marca</h3>
                <p class="mt-2">Somos uma agência criativa de serviço completo especializada em ajudar marcas a crescerem rapidamente. Envolva seus clientes por meio de recursos visuais atraentes que fazem a maior parte do marketing para você.</p>
                <span class="mt-2"><a asp-page="">Leia mais</a></span>
            </div>
            <div class="card-image">
                <img src="~/imgs/image-transform.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="multiple-card">
            <div class="card-image">
                <img src="~/imgs/image-stand-out.jpg" alt="" srcset="">
            </div>
            <div class="card-description">
                <h3>Destaque-se para o público certo</h3>
                <p>
                    Somos uma agência criativa de serviço completo especializada em ajudar marcas a crescerem rapidamente. Envolva seus clientes por meio de recursos visuais atraentes que fazem a maior parte do marketing para você.
                </p>
                <span><a asp-page="">Leia mais</a></span>
            </div>
        </div>
        <div class="single-card">
            <div class="card-image">
                <img src="~/imgs/image-graphic-design.jpg" alt="">
            </div>
            <h3>Design Gráfico</h3>
            <p>
                Um ótimo design torna você memorável. Entregamos obras de arte que destacam a mensagem da sua marca e capturam a atenção dos clientes em potencial.
            </p>
        </div>
        <div class="single-card">
            <div class="card-image">
                <img src="~/imgs/image-photography.jpg" alt="">
            </div>
            <h3>Fotografia</h3>
            <p>
                Aumente sua credibilidade obtendo as fotos mais impressionantes e de alta qualidade que melhoram a imagem de sua empresa.
            </p>
        </div>
</section>