<section class="slider">
    <div class="slide">
        <img src="~/imgs/image-gallery-milkbottles.jpg" alt="" srcset="">
    </div>
    <div class="slide">
        <img src="~/imgs/image-gallery-orange.jpg" alt="" srcset="">
    </div>
    <div class="slide">
        <img src="~/imgs/image-gallery-cone.jpg" alt="" srcset="">
    </div>
    <div class="slide">
        <img src="~/imgs/image-gallery-sugarcubes.jpg" alt="" srcset="">
    </div>
</section>