<section class="session testimonials">
    <h3 class="mt mb">Depoimentos dos clientes</h3>
    <div class="testimonial-card mb">
        <img class="mb customer-image" src="~/imgs/image-emily.jpg" alt="">
        <p>
            Depositamos nossa confiança na Sunnyside e eles atenderam, garantindo que nossas necessidades fossem atendidas e os prazos sempre cumpridos.
        </p>
        <p class="mt">Emily R.</p>
        <span>Diretora de Marketing</span>

    </div>
    <div class="testimonial-card mb">
        <img class="mb customer-image" src="~/imgs/image-thomas.jpg" alt="">
        <p>
            O entusiasmo da Sunnyside, juntamente com o seu grande interesse no sucesso da nossa marca, tornou esta experiência satisfatória e agradável.
        </p>
        <p class="mt">Thomas S.</p>
        <span>Diretor de Operações</span>
    </div>
    <div class="testimonial-card mb">
        <img class="mb customer-image" src="~/imgs/image-jennie.jpg" alt="">
        <p>
            Resultado final incrível! Nossas vendas aumentaram mais de 400% quando trabalhamos com a Sunnyside.
            Altamente recomendado!
        </p>
        <p class="mt">Jennie F</p>
        <span>Dona do próprio negócio</span>
    </div>
</section>